# Auto detect text files and perform LF normalization
Build/frieren.s-pace.land.data.unityweb filter=lfs diff=lfs merge=lfs -text
/Users/suzukimasataka/Desktop/javascript/svg-to-png/frieren.s-pace.land/frieren/Build/frieren.s-pace.land.data.unityweb filter=lfs diff=lfs merge=lfs -text
